/* app.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/* src/index.css ya component-specific CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/* .font-condensed {
  font-family: 'Roboto Condensed', sans-serif;
} */
@media print {
  body {
    background: white;
  }

  .pdf\:block {
    display: block !important;
  }
}

.font-condensed {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.5px;
  font-style: normal;
  font-weight: 400;
}

:root {
  --font-inter: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-inter);
  background-color: #f9f9f9;
  color: #111827;
}
