@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px theme('colors.input-bg') inset;
    -webkit-text-fill-color: '#FDFDFE';
    transition: background-color 5000s ease-in-out 0s;
  } */
  .pdf-root label {
    white-space: normal !important;
    overflow: visible !important;
    text-overflow: unset !important;
  }

  .pdf-root * {
    page-break-inside: avoid;
  }

  .hidden.print\:block {
    display: block !important;
  }
  .page-break {
    page-break-before: always;
  }

  input:-webkit-autofill {
    /* -webkit-box-shadow: 0 0 0px 1000px theme('colors.input-bg') inset !important; */
    -webkit-text-fill-color: #8596a4 !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  /* Custom Scrollbar */
  .custom-scroll::-webkit-scrollbar {
    width: 5px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: #444c51;
    border-radius: 4px;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #e1cd86;
    border-radius: 4px;
    border: 2px solid #e1cd86;
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #e1cd86; /* hover effect */
  }

  .custom-table-scroll {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #19354d #444c51; /* thumb + track */
  }

  .custom-table-scroll::-webkit-scrollbar {
    width: 1px; /* Chrome, Edge, Safari */
    height: 1px; /* for horizontal scroll */
  }

  .custom-table-scroll::-webkit-scrollbar-track {
    background: #444c51;
  }

  .custom-table-scroll::-webkit-scrollbar-thumb {
    background-color: #19354d;
    border-radius: 1px;
  }

  .custom-table-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #f0dc8a;
  }

  /* Heading (Large text) */
  .text-heading {
    @apply text-sm md:text-lg lg:text-xl font-bold;
  }

  /* Heading (Large text) */
  .text-modal-heading {
    @apply text-base md:text-lg lg:text-2xl font-semibold;
  }

  /* Subheading (Medium text) */
  .text-subheading {
    @apply text-xs md:text-base lg:text-lg font-semibold;
  }

  .text-cardHeading {
    @apply text-base md:text-lg lg:text-xl font-semibold text-primary;
  }

  /* Paragraph (Body text) */
  .text-paragraph {
    @apply text-xs md:text-sm lg:text-base text-textSecondary;
  }

  .default-space {
    @apply space-y-[10px];
  }

  .text-table {
    @apply text-xs md:text-sm lg:text-base font-normal text-primary;
  }

  /* .customAlterConfirmButton {
    @apply min-w-16 rounded-lg h-11;
  } */
  .customAlterConfirmButton {
    @apply h-11 min-w-16 roundedDefault bg-secondary text-white px-5 py-3;
  }

  .customAlterSuccessButton {
    @apply h-11 min-w-16 roundedDefault bg-green hover:bg-green text-white px-5 py-3;
  }
  .customAlterCancelButton {
    /* @apply min-w-[146px] rounded-lg h-11 border px-4; */
    @apply border border-textSecondary text-secondary roundedDefault min-w-16 h-[44px] px-5 py-3;
  }

  .roundedDefault {
    @apply rounded-[12px];
  }

  .card-hover {
    @apply transition ease-out duration-300;
  }

  .card-hover:hover {
    @apply scale-[1.03] shadow-lg;
  }

  .group-hover\:item\:icon-white:hover img {
    filter: brightness(0) invert(1);
  }
}

@layer base {
  :root {
    --card: 0 0% 100%;
    --popover: 0 0% 100%;
    --muted: 0 0% 96.1%;
    --accent: 0 0% 96.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --tableHeader:#FAF9F9;
    --tableHeaderText:#0A3350;
    --primary: #004f8c;
    --secondary: #ab202b;
    --white: #ffffff;
    --backgroundShade: #f7f9fa;
    --input: #efefef;
    --green: #06A77D;
    --greenOverlay:#E7F7F3;
    --red: #E21838;
    --redOverlay:#FDE8EC;
    --orange: #ff8f2d;
    --textSecondary: #8596a4;
    --yellow: #ffcc00;
    --textTertiary: #c8c8c8;
    --black: #000000;
    --redBackground: #ffbdc2;
    --sidebar-ring: #f3f4f6;
    --sidebar-accent: #004f8c;
    --sidebar: #ffff;

    --textDefault: #5a5a5a;

    --primary-50: #e6eef4;
    --primary-100: #ccdce8;
    --primary-200: #99b9d1;
    --primary-500: #004f8c;
    --primary-700: #002846;

    --untitle-50: #ebebeb;
    --untitle-100: #d6d6d6;
    --untitle-200: #adadad;
    --untitle-300: #838383;
    --untitle-400: #5a5a5a;
    --untitle-500: #313131;
    --untitle-600: #252525;
    --untitle-700: #191919;
    --untitle-800: #0c0c0c;
    --untitle-900: #050505;

    --text-100: #f9fafb;
    --text-200: #f3f4f6;
    --text-300: #e5e7eb;
    --text-400: #d1d5db;
    --text-500: #9ca3af;
    --text-600: #6b7280;
    --text-700: #4b5563;
    --text-800: #374151;
    --text-900: #1f2937;
    --text-1000: #111827;

    --neutral-100: #fafafa;
    --neutral-200: #f5f5f5;
    --neutral-300: #eeeeee;
    --neutral-400: #e1e1e1;
    --neutral-500: #cacaca;
    --neutral-600: #8e8e8e;
    --neutral-700: #4b4b4b;
    --neutral-800: #1f1f1f;

    --danger-100: #fffbfb;
    --danger-200: #fef2f2;
    --danger-300: #ffebee;
    --danger-400: #ffccd2;
    --danger-500: #f49898;
    --danger-600: #eb6f70;
    --danger-700: #f64c4c;
    --danger-800: #ec2d30;

    --success-100: #fbfefc;
    --success-200: #f2faf6;
    --success-300: #e5f5ec;
    --success-400: #c0e5d1;
    --success-500: #97d4b4;
    --success-600: #6bc497;
    --success-700: #47b881;
    --success-800: #0c9d61;

    --baseStroke: #eaecf0;
    --borderDefault: #ebebeb;
    --borderDefault2: #ccdce8;

    --specificCard: #f1f9ff;
  }
  .light {
    --card: 0 0% 100%;
    --popover: 0 0% 100%;
    --muted: 0 0% 96.1%;
    --accent: 0 0% 96.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --tableHeader:#FAF9F9;
    --tableHeaderText:#0A3350;
    --primary: #19354d;
    --secondary: #19354d;
    --white: #ffffff;
    --backgroundShade: #f7f9fa;
    --input: #efefef;
    --green: #06A77D;
    --greenOverlay:#E7F7F3;
    --red: #E21838;
    --redOverlay:#FDE8EC;
    --orange: #ff8f2d;
    --yellow: #ffcc00;
    --textSecondary: #8596a4;
    --textTertiary: #c8c8c8;
    --black: #000000;
    --redBackground: #ffbdc2;
    --sidebar-ring: #f3f4f6;
    --sidebar-accent: #004f8c;
    --sidebar: #ffff;

    --textDefault: #5a5a5a;

    --primary-50: #e6eef4;
    --primary-100: #ccdce8;
    --primary-200: #99b9d1;
    --primary-500: #004f8c;
    --primary-700: #002846;

    --text-100: #f9fafb;
    --text-200: #f3f4f6;
    --text-300: #e5e7eb;
    --text-400: #d1d5db;
    --text-500: #9ca3af;
    --text-600: #6b7280;
    --text-700: #4b5563;
    --text-800: #374151;
    --text-900: #1f2937;
    --text-1000: #111827;

    --neutral-100: #fafafa;
    --neutral-200: #f5f5f5;
    --neutral-300: #eeeeee;
    --neutral-400: #e1e1e1;
    --neutral-500: #cacaca;
    --neutral-600: #8e8e8e;
    --neutral-700: #4b4b4b;
    --neutral-800: #1f1f1f;

    --danger-100: #fffbfb;
    --danger-200: #fef2f2;
    --danger-300: #ffebee;
    --danger-400: #ffccd2;
    --danger-500: #f49898;
    --danger-600: #eb6f70;
    --danger-700: #f64c4c;
    --danger-800: #ec2d30;

    --success-100: #fbfefc;
    --success-200: #f2faf6;
    --success-300: #e5f5ec;
    --success-400: #c0e5d1;
    --success-500: #97d4b4;
    --success-600: #6bc497;
    --success-700: #47b881;
    --success-800: #0c9d61;

    --untitle-50: #ebebeb;
    --untitle-100: #d6d6d6;
    --untitle-200: #adadad;
    --untitle-300: #838383;
    --untitle-400: #5a5a5a;
    --untitle-500: #313131;
    --untitle-600: #252525;
    --untitle-700: #191919;
    --untitle-800: #0c0c0c;
    --untitle-900: #050505;

    --baseStroke: #eaecf0;
    --borderDefault: #ebebeb;

    --borderDefault2: #ccdce8;

    --specificCard: #f1f9ff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    /* @apply bg-background text-foreground; */
  }
}

/* Define the keyframes for fade-in-down and fade-out-up animations */
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-out-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* Apply the animations to the modal */
.modal-enter {
  animation: fade-in-down 0.1s ease-out forwards;
}

.modal-exit {
  animation: fade-out-up 0.3s ease-in forwards;
}
